/* CSS Stylesheet for the subpages */

@font-face {
	font-family: Montserrat;
	src: url(Montserrat.ttf);
}

html {
	height: 100%;
	font-family: Montserrat;
	font-weight: 400;
}

body { 
    margin: 0;
	/*whole body is a flexbox with header, main and footer inside*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
	/*header is its own flexbox with the text, links and language selector inside*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
	/*responsive background image*/
	background-image: url('test.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position-y: 55%;
	
	/* text formatting stuff */
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.language {
	width: 4em;
	/*rightbound*/
	align-self: flex-end;
	margin-top: 2em;
	margin-right: 2em;
}

.description p {
	display: none;
}
	
#links img {
	width: 4em;
}
	
.navbar {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

main {
	/*main is another nested flexbox which goes from top to bottom*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content {
	/*content is a left to right flexbox for a text and an image / video / etc */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;	
}

.text {
	margin: 20px;
	width: 60%;
	text-align: justify;
	font-size: 110%;
	letter-spacing: 0.5px;
	line-height: 135%;
}

footer {
	display: flex;
	justify-content: center;
}

img {
	margin: 50px;
	width: 20%;
	border: 3px #573B23;
	border-style: solid none none solid;
}

#lang {
	border-style: hidden;
}
/*make everything responsive*/

@media screen and (max-width: 500px) {

}
